.header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.wrapperForRecipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerForDish {
  text-align: center;
  color: black;
  text-decoration: none;
}

.img {
  width: 350px;
  height: 350px;
}
